<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title lead">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseBerufserfahrungenNovartis">
                    06/2014 - 03/2016 Produktionsmitarbeiter bei Novartis CSS-ZVB in Marburg
                </a>
            </h4>
        </div>
        <div id="collapseBerufserfahrungenNovartis" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>Ausführung aller zugewiesenen Tätigkeiten unter Einhaltung der GMP- und Arbeitssicherheitsrichtlinien</li>
                    <li>Durchführung der einzelnen Arbeitsschritte gemäß definierter Arbeits,- Betriebs,- und Sicherheitsanweisungen</li>
                    <li>Zeitgerechtes beladen und überwachen der Reinigungsanlagen</li>
                    <li>Exzellente Dokumentation der Tätigkeiten gemäß GMPRichtlinien</li>
                    <li>Bereitschaft zur kontinuierlichen Verbesserung und Schwachstellenanalyse</li>
                    <li>Durchführung von Hygienemaßnahmen</li>
                    <li>Koordination der Reinigungsarbeiten zu Gunsten der Flexibilität, Qualität und Wirtschaftlichkeit</li>
                    <li>Einarbeitung/Training neuer Mitarbeiter nach Vorgabe der OJTLeitfäden</li>
                    <li>Bedienen des Endoskops und Dokumentation der Ergebnisse</li>
                    <li>Montage und Sterilisation unter Einhaltung der GMP-Richtlinien</li>
                </ul>
            </div>
        </div>
    </div>
</div>