<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title lead">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseLeistungen2">
                    01/2012 - 06/2013 Arbeit suchend
                </a>
            </h4>
        </div>
        <div id="collapseLeistungen2" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>Aktiv suchend ... </li>
                    <li>Weiterbildung während dieser Zeit ...</li>
                </ul>
            </div>
        </div>
    </div>

</div>