<!DOCTYPE html>
<html lang="en">
<head>
    <title>Impressum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .bg-1 {
            background-color: grey;
            color: #ffffff;
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }
        a {
            color: white;
        }
    </style>
</head>
<body>
    <div class="container-fluid bg-1">
        <h3><strong>Impressum</strong></h3>
        <br />
        <p><u>Anbieter:</u><br />Michael Willershausen<br />Cappeler Str. 17<br />35039 Marburg</p>
        <p><u>Kontakt:</u><br />Telefon: 0152 / 57 64 72 78<br />E-Mail: <a href="mailto:miwilahn@yahoo.de">miwilahn@yahoo.de</a><br />Website: <a href="http://www.michaelwillershausen.de">www.michaelwillershausen.de</a></p>
        <br />
        <p>Webdesign: <a href="mailto:backes@solthor.de">UbaSoft</a></p>
    </div>
</body>
</html>





