 <!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Warum bewerbe ich mich?
                    </h2>
                    <h3 class="post-subtitle">
                        Weil ...
                    </h3>
                </a>
               <!-- <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>*-->
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Warum bewerbe ich mich bei Ihnen?
                    </h2>
                    <h3 class="post-subtitle">
                        Weil ...
                    </h3>
                </a>
                <!-- <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>*-->
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Meine Erfahrungen
                    </h2>
                    <h3 class="post-subtitle">
                        ...
                    </h3>
                </a>
                <!-- <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>*-->
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Meine Erfolge
                    </h2>
                    <h3 class="post-subtitle">
                        ...
                    </h3>
                </a>
                <!-- <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>*-->
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Meine Stärken
                    </h2>
                    <h3 class="post-subtitle">
                        ...
                    </h3>
                </a>
                <!-- <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>*-->
            </div>
            <hr>
            <!-- Pager -->
            @*<ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>*@
        </div>
    </div>
</div>

<hr>
