 <!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    Warum bewerbe ich mich als Produktionsmitarbeiter?
                </h2>
                Weil ich einerseits aufgrund meiner Erfahrungen in kurzer Zeit einen Beitrag zum Unternehmenserfolg leisten kann. Andererseits kann ich viel Neues lernen und wäre stolz darauf, neue Herausforderungen meistern zu dürfen, neue Impulse zu erhalten und in einem vielseitigen, anspruchsvollen Bereich tätig sein zu dürfen.
            </div>
            <hr>
            <div class="post-preview">
                <h2 class="post-title">
                    Meine Stärken
                </h2>
                <ul>
                    <li>Freude am Arbeiten</li>
                    <li>Hohes Maß an Engagement und Verantwortung</li>
                    <li>Hohe Ziele und hohe Erwartungen an mir selbst</li>
                    <li>Interessiert an Veränderungen, Freude an Herausforderungen</li>
                    <li>Freude, gemeinsam ein Ziel zu erreichen</li>
                    <li>Zeige gerne Initiative</li>
                    <li>Genaues und gewissenhaftes Arbeiten</li>
                    <li>Ich gebe ehrliches Feedback</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>


